body {
    background-color: hsl(0, 0%, 6%);
}
* {
    box-sizing: border-box;
}
p {
    color: white;
    margin-left: 80px;
    margin-top: 35px;
}
.utHeader {
    position: fixed;
    background-color: hsl(0, 0%, 6%);
    width: 1250px;
    height: 100px;
    top: 0;
    left: 0;
    display: inline-block;
}
.sideHeader {
    position: fixed;
    background-color: hsl(0, 0%, 6%);
    width: 80px;
    height: 620px;
    top: 0;
    left: 0;
    display: inline-block;
    transform: translate(0px, 50px);
}
.menuButton {
    width: 30px;
    float: left;
    top: 0px;
    left: 0px;
    transform: translate(23px, 13px);
}
.logo {
    float: left;
    width: 100px;
    top: 0px;
    left: 0px;
    transform: translate(40px, -22px);
}
.searchBar {
    background-color: hsl(0, 0%, 6%);
    transform: translate(300px, 3px) scale(1.8);
    width: 350px;
    display: inline-block;
    color: white;
}
.voiceSearch {
    transform: translate(450px, 13px) scale(1.5, 1.5);
    width: 30px;
    display: inline-block;
}
.createButton {
    transform: translate(586px, 13px) scale(1.5, 1.5);
    width: 30px;
    display: inline-block;
}
.notifsButton {
    transform: translate(606px, 13px) scale(1.7, 1.7);
    width: 30px;
    display: inline-block;
}
.profile {
    transform: translate(625px, 10px) scale(1.7, 1.7);
    width: 30px;
    display: inline-block;
}
.homeButton {
    transform: translate(25px, 25px) scale(1.7, 1.7);
    width: 30px;
    display: inline-block;
}
.shortsButton {
    transform: translate(-10px, 105px) scale(1.5, 1.5);
    width: 30px;
    display: inline-block;
}
.subsButton {
    transform: translate(25px, 130px) scale(2.3, 2.3);
    width: 30px;
    display: inline-block;
}
.libraryButton {
    transform: translate(-10px, 210px) scale(1.7, 1.7);
    width: 30px;
    display: inline-block;
}

/* Nav bar: */

.navBar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 27%);
    padding: 0px;
    margin: 0px;
    overflow: auto;
}
.navBar a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 10px;
    margin-right: 26px;
    display: block;
    text-align: center;
}
.navBar a:hover {
    background-color: hsl(0, 0%, 40%);
}
.navBar li {
    float: left;
}
.navBar {
    background-color: hsl(0, 0%, 6%);
    height: 20px;
    transform: translate(-50px, 30px);
}

/* Videos: */

.videosContainer {
    display: flex;
    margin-left: 70px;
    margin-top: 140px;
    column-gap: 5px;
}
#video1Thumbnail {
    width: 390px;
}
#video1Channel {
    width: 40px;
    float: left;
}
#video2Thumbnail {
    width: 390px;
}
#video2Channel {
    width: 40px;
}
#video3Thumbnail {
    width: 390px;
}
#video3Channel {
    width: 40px;
}

